<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=dak140;AccountKey=G5Vgyb6VqpMnHOw5pSkgW05prZd2HylE1MnaNP/rc/HEJ9X0otOJkAaArF+jEwmSXtBHj04Vxa5d/Ao6qbhyyQ==;" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>